body{
margin:0;}

@font-face{
  src: url(eurostile_extended_black.ttf);
  font-family: Eurostile Extended Black;
}

form.Searching button {
  float: right;
  width: 20%;
  padding: 8px;
  background: transparent;
  color: #D1D2D7;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  outline:none;
} 


#ip1 {
    border-radius: 25px;
    border: 1px solid #919191;
    padding-right: 335px; 
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 20px;
    height: 30px;
    background-color: rgba(104, 104, 104,0.5); 
    font: 15pt arial, sans-serif; 
    width: 110%;
}

input:focus {
    outline: none;
    border-color: #D8C40D; 
}

input[type='text'] { 
  color:white; 
  font:small arial, sans-serif; 
  font-size: 10pt;
}


.img {
  margin:4px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #18222B;
  top:0;
}


.li {
  float:right;
  
}

.li a {
  display: block;
  color: #FCE300;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: small arial,sans-serif;
}

.li a:hover {
  text-decoration: underline;
  transition:0.5s;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: rgba(104, 104, 104,0.5);

}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #D1D2D7;
}

.signupbtn{
	background-color: #FCE300;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.labels{
	color: #C91143;
}